<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <form action="/api/todo" method="post">
      <input name="title" class="new-todo" placeholder="What needs to be done?" autofocus>
    </form>
  </header>
  {{#todosCount}}
  <section class="main">
    {{^completed}}
    <form action="/api/todo/mark-all-completed" method="post">
      <button class="toggle-all"></button>
      <label for="toggle-all">Mark all as complete</label>
    </form>
    {{/completed}}
    <ul class="todo-list">
      {{> list}}
    </ul>
  </section>
  <footer class="footer">
    {{> footer}}
  </footer>
  {{/todosCount}}
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Created by <a href="https://github.com/taunus/taunus-todomvc">JC Ivancevich</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
