<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <form action="/api/todo" method="post">
      <input name="title" class="new-todo" placeholder="What needs to be done?" autofocus>
    </form>
  </header>
  <!-- This section should be hidden by default and shown when there are todos -->
  <section class="main">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <!-- These are here just to show the structure of the list items -->
      <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
      {{#todos}}
      <li {{#completed}}class="completed"{{/completed}}>
        <div class="view">
          <form class="form-update-todo" action="/api/todo/{{ id }}/complete" method="post">
            <input name="completed" class="toggle" type="checkbox" {{#completed}}checked{{/completed}}>
          </form>
          <label>{{ title }}</label>
          <form class="form-remove-todo" action="/api/todo/{{ id }}/remove" method="post">
            <button class="destroy"></button>
          </form>
        </div>
        <input class="edit" value="{{ title }}">
      </li>
      {{/todos}}
    </ul>
  </section>
  <!-- This footer should hidden by default and shown when there are todos -->
  <footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>0</strong> item left</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
      <li>
        <a {{#all}}class="selected"{{/all}} href="/">All</a>
      </li>
      <li>
        <a {{#active}}class="selected"{{/active}} href="/active">Active</a>
      </li>
      <li>
        <a {{#completed}}class="selected"{{/completed}} href="/completed">Completed</a>
      </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <form class="form-clear-todos" action="/api/todo/clear-completed" method="post">
      <button class="clear-completed">Clear completed</button>
    </form>
  </footer>
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <!-- Remove the below line ↓ -->
  <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
  <!-- Change this out with your name and url ↓ -->
  <p>Created by <a href="http://todomvc.com">you</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
